<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
    <link rel="stylesheet"  href="/static/styles/estilo.css">

</head>

<body>
    <div class="background">
        <img src="/static/assets/roblox.png" alt="">
    </div>

    <header>
        <ul class="navigation" >
            <img src="/static/assets/estrela_branca.png" width="30px" alt="">

            <li>
                <a href="" class="navigation_link">Calcular IMC</a>
            </li>

            <img src="/static/assets/estrela_branca.png" width="30px" alt="">
        </ul>
    </header>  

    <div class="imc">
        <form action="index.html" method="post" class="imc_produtos_formulario" >
            <h2>Calculadora de IMC</h2>

            <label for="">Nome:</label>
            <input type="text" name="nome" id="nome"> 

            <label for="">Peso:</label>
            <input type="text" name="peso" id="peso"> 
 
            <label for="">Altura:</label>
            <input type="text" name="altura" id="altura"> 

            <div class="imc_enviar">
                <button type="submit">Calcular</button>
            </div>

            <div class="pessoas">
                <img src="/static/assets/image-removebg-preview.png" width="420px">
            </div>
        </form>
    <div>

    <div class="estrelas">
        <a href="https://www.tjdft.jus.br/informacoes/programas-projetos-e-acoes/pro-vida/dicas-de-saude/pilulas-de-saude/o-que-o-indice-de-massa-corporal-imc-diz-sobre-sua-saude#:~:text=Criado%20no%20s%C3%A9culo%2019%20pelo,n%C3%A3o%20com%20o%20peso%20ideal." target="_blank">
            <img src="/static/assets/estrela_branca.png" width="100px" alt="">
            O que é IMC
        </a>

        <a href="https://capital.sp.gov.br/web/saude/w/noticias/332991#:~:text=O%20%C3%8Dndice%20de%20Massa%20Corporal,o%20chamado%20%E2%80%9Cpeso%20ideal%E2%80%9D." target="_blank">
            <img src="/static/assets/estrela_branca.png" width="100px" alt="">
            Para que serve 
        </a>
    </div>
</body>
</html>