<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
    
</head>

<body>
    <div class="background">
        <img src="/static/assets/roblox.png" alt="">
    </div>

    <div class="consulta_produtos">

        <h2 class="titulo_dois">RESULTADO!</h2>
        <p class="msg">Olá, {{ nome }}! O seu IMC é {{ imc }}</p>
        <p class="msg_dois">e sua categoria é: {{ categoria }}</p>

        <a class="voltar" href="/">Voltar para a página inicial</a>
    
        
   </div>
</body>
</html>